header
  .site-title
    h1
      span Notaires
      span.dot  .ga
    p Le site officiel des notaires du Gabon

nav#menu
  .menu(class="home")
    p.nav-item
      a(href="/" style="color: white; text-decoration: none")
        i(class="fas fa-home")
  for menu in menus
    .menu
      p.nav-item=menu.title
      .dropdown
        h1.rubrique-maste=menu.title
          span.close &times;
        .dd-content
          for rubrique in rubriques
            if rubrique.menu._id.toString() == menu._id.toString()
              .rubrique
                p.rubrique-title=rubrique.title
                ul.articles
                  for a in articles
                    if a.rubrique._id.toString() == rubrique._id.toString()
                      - let link = '/' + a._id.toString() + "#article";
                      a(href=link).article-title=a.title 
  .menu(class="humberger" onclick="toggleMenu()")
    p.nav-item
      i(class="fas fa-bars")
.images(class=article ? "on-article": "")
 .content
   h1 Tous savoir sur les missions des notaires du Gabon... 
   a(href="#home", rel="noopener noreferrer" class="outline") Visiter le site