link(rel="stylesheet" href="/cms1/s/css/editor.css")

.edit-article
  form(method="post" action="/cms1/article/"+article._id)
    input(type="hidden" name="_id" value=article.id)
    input(type="hidden" name="photoURL" value=article.photoURL)
    input(type="hidden" name="resume" value=article.resume)
    h1
      input(type="text" name="title" value=article.title)
    button Modifier
  .header
    .photo
      if article.photoURL
        img(src=article.photoURL alt="Illustration de l'article")
      else
        div.placeholder-img
      form.photo-form(method="post" action="/cms1/article/"+article._id+ "/photo" enctype="multipart/form-data")
        input(type="file" name="photo")
        button Changer
    .illustration
      form(method="post" action="/cms1/article/"+article._id)
        input(type="hidden" name="_id" value=article.id)
        input(type="hidden" name="photoURL" value=article.photoURL)
        textarea( cols="40" rows="13" name="resume" placeholder="Petite introduction")=article.resume
        button Modifier

  .main
    #editorjs

